<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>

<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="userName">Enter name</label>
    <input type="text" th:field="*{userName}" id="userName"/>
    <br>
    <br>
    <label for="lastName">Enter Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <br>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <br>
    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <br>
    <p>
        <label>Roles:
            <input type="checkbox" name="authorities" th:each="role : ${allRoles}" th:text="${role.getRole()}" th:value="${role.getId()}"/>
        </label>
    </p>
    <input type="submit" value="Create">

</form>

<br>
<br>
<a href="/logout">Logout</a>

</body>

</html>
